:root {
  --text-white: #eee;
  --page-width: 70%;
  --main-color: orangered;
  --faint-back: rgba(0, 0, 0, 0.25);
  --text-black: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  position: relative;
  color: var(--text-white);
}

/* Nav */
.header__nav {
  width: 100%;
  position: fixed;
  background-color: var(--faint-back);
}

nav {
  width: var(--page-width);
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--text-white);
  margin: 2rem auto;
}

.nav__items {
  list-style: none;
  display: flex;
}

.nav__name {
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.nav__item {
  color: var(--text-white);
  margin-left: 3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 600;
}

.curr__nav {
  color: var(--main-color);
}

.nav__item:hover {
  color: var(--main-color);
}

header {
  height: 60vh;
  background: url(../images/image.jpg);
  background-size: cover;
  background-position: center;
}

.back_div {
  background-color: var(--faint-back);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_me {
  margin-top: 10rem;
}

.heading_2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.home_link,
.arrow,
.current_page {
  font-size: 2rem;
  margin-right: 0.5rem;
  font-weight: 600;
}

.home_link {
  text-decoration: none;
  color: var(--text-white);
}

.current_page {
  color: var(--main-color);
}

.home_link {
  transition: all 0.3s ease-in-out;
}

.home_link:hover {
  color: var(--main-color);
}

.btn {
  padding: 1rem 2rem;
  border: 2px solid var(--main-color);
  width: fit-content;
  border-radius: 100px;
  color: var(--main-color);
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--text-white);
  background-color: var(--main-color);
}

@media screen and (max-width: 1200px) {
  :root {
    --page-width: 80%;
  }
}

@media screen and (max-width: 960px) {
  nav {
    font-size: 1.8rem;
  }

  .nav__item {
    margin-left: 2rem;
  }

  .heading_2 {
    font-size: 4rem;
  }

  nav {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --page-width: 80%;
  }

  nav {
    font-size: 1.6rem;
  }

  .nav__item {
    margin-left: 1.5rem;
  }

  .heading_2 {
    font-size: 3rem;
  }

  nav {
    width: 90%;
    font-size: 3rem;
    margin: 1rem auto;
  }

  .nav__item {
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --page-width: 80%;
  }

  .heading_2 {
    font-size: 2.5rem;
  }

  .nav__name {
    display: none;
  }

  .nav__items {
    width: 100%;
    justify-content: space-around;
  }

  .nav__item {
    font-weight: 300;
  }
}
