.images {
  margin-top: 5rem;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 5rem auto;
}

img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

img:hover {
  transform: scale(1.02);
  border-radius: 0%;
}

@media screen and (max-width: 1600px) {
  .images {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .images {
    width: 85%;
  }
}

@media screen and (max-width: 960px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .images {
    grid-template-columns: 1fr;
  }
}
